<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- <add key="Commerce" value="http://nuget1ca2/nuget/Commerce" /> -->
    <add key="Sitecore_XP" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    <!-- The below are External sources.  Sitecore_Commerce is the main release Repo and Sitecore_Commerce_Unstable is the latest builds -->
    <add key="Sitecore_Commerce" value="https://sitecore.myget.org/F/sc-commerce-packages/api/v3/index.json" />
    <!--<add key="Sitecore_Commerce_Unstable" value="https://sitecore.myget.org/F/sc-commerce-unstable/api/v3/index.json" />
    <add key="Threepwood" value="http://nuget1ca2/nuget/threepwood" />
    <add key="Threepwood_Dev" value="http://nuget1ca2/nuget/threepwood_dev" />
    <add key="Threepwood_Master" value="http://nuget1ca2/nuget/threepwood_master" />  -->
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="globalPackagesFolder" value="./packages" />
  </config>
</configuration>